#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

$(foreach line,$(shell sed -n '\
  s/^ gnat, gnat-\([0-9.]\+\),$$/ \
    GNAT_VERSION:=\1 \
  /p;\
  s/^Package: libada-el\([0-9.]\+\)$$/ \
    soname:=libada_el.so.\1 \
  /p;\
  ' debian/control),$(eval $(line)))

DH_VERBOSE=1
export DH_OPTIONS=-v

include debian/rules.inc

ADAFLAGS += -gnatafno -gnatVa -gnatwa

# Circumvent #760211. Since LDFLAGS contains --as-needed, this setting
# only takes effect on architectures triggering the bug.
LDLIBS += -lpthread

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --enable-shared

override_dh_auto_build-arch:
	make all

el_SRCDIR := src
el_LNAME = libada_el
el_SONAME = libada_el.so.1.6.1
el_ANAME = libada_el.a
el_LIB_PKG = libada-el1.6
el_DEV_PKG = libada-el7-dev
el_GPR = el.gpr


# To debug an instantiation, replace eval with error:
$(foreach library, \
  el \
  ,$(eval $(call library_template)))
