Source: libawa
Priority: optional
Maintainer: Stephane Carrez <Stephane.Carrez@gmail.com>
Build-Depends: debhelper (>= 10), autotools-dev,
 gnat, gnat-7,
# This line is parsed by debian/rules.
 gprbuild (>= 2015-2)
# 2015-2 is compatible with gnat-6
Standards-Version: 4.1.4
Homepage: https://github.com/stcarrez/ada-awa/
Vcs-Git: https://github.com/stcarrez/ada-debian-pkg.git
Vcs-Browser: https://github.com/stcarrez/ada-debian-pkg

Package: libawa1.1.0
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Ada Web Application (runtime)
 Ada Web Application is a framework to build a Web Application in Ada 2012.
 The framework provides several ready to use and extendable modules that
 are common to many web application.  This includes the login,
 authentication, users, permissions, managing comments, tags, votes,
 documents, images.  It provides a complete blog, question and answers
 and a wiki module.
 .
 This package contains the runtime files for AWA.

Package: libawa7-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libada-asf7-dev, libada-ado7-dev, libada-util7-dev, gnat,
 dynamo
Description: Ada Web Application (Development files)
 Ada Web Application is a framework to build a Web Application in Ada 2012.
 The framework provides several ready to use and extendable modules that
 are common to many web application.  This includes the login,
 authentication, users, permissions, managing comments, tags, votes,
 documents, images.  It provides a complete blog, question and answers
 and a wiki module.
 .
 This package contains the development files for Ada Web Application.

Package: libawa-unit1.1.0
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa1.1.0 (= ${binary:Version})
Description: Unit test framework for AWA (runtime)
 This library provides support and helpers for writing unit tests for AWA.
 .
 This package contains the runtime files for AWA testing framework.

Package: libawa-unit7-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
 libawa7-dev,
 libada-util-unit7-dev, libada-asf-unit7-dev
Description: Unit test framework for AWA (Development).
 This library provides support and helpers for writing unit tests for AWA.

Package: libawa-blogs1.1.0
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa-workspaces1.1.0 (= ${binary:Version}),
 libawa-comments.1.0 (= ${binary:Version}),
 libawa-images1.1.0 (= ${binary:Version}),
 libawa-counters1.1.0 (= ${binary:Version}),
 libawa-markedit1.1.0 (= ${binary:Version}),
 libawa-tags1.1.0 (= ${binary:Version})
Description: Blogs plugin for AWA (Runtime)
 This is the Blogs plugin for Ada Web Application.  The Blogs plugin provides
 a complete and ready to use blog system that can be integrated easily in an
 application.

Package: libawa-blogs7-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa-blogs1.1.0 (= ${binary:Version}),
 libawa-tags7-dev,
 libawa-comments7-dev,
 libawa-votes7-dev,
 libawa-counters7-dev
Description: Blogs plugin for AWA (Development)
 This is the Blogs plugin for Ada Web Application.  The Blogs plugin provides
 a complete and ready to use blog system that can be integrated easily in an
 application.

Package: libawa-changelogs1.1.0
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa1.1.0 (= ${binary:Version})
Description: Changelogs plugin for AWA (Runtime)
 This is the Changelogs plugin for Ada Web Application.

Package: libawa-changelogs7-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa7-dev,
 libawa-changelogs-1.1.0 (= ${binary:Version})
Description: Changelogs plugin for AWA (Development)
 This is the Changelogs plugin for Ada Web Application.

Package: libawa-comments1.1.0
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa1.1.0 (= ${binary:Version})
Description: Comments plugin for AWA (Runtime)
 This is the Comments plugin for Ada Web Application.

Package: libawa-comments7-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa-comments1.1.0 (= ${binary:Version}),
 libawa7-dev
Description: Comments plugin for AWA (Development)
 This is the Comments plugin for Ada Web Application.

Package: libawa-counters1.1.0
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa1.1.0 (= ${binary:Version})
Description: Counters plugin for AWA (Runtime)
 This is the Counters plugin for Ada Web Application.

Package: libawa-counters7-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa-counters1.1.0 (= ${binary:Version}),
 libawa7-dev
Description: Counters plugin for AWA (Development)
 This is the Counters plugin for Ada Web Application.

Package: libawa-countries1.1.0
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa1.1.0 (= ${binary:Version})
Description: Countries plugin for AWA (Runtime)
 This is the Countries plugin for Ada Web Application.

Package: libawa-countries7-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa7-dev,
 libawa-countries1.1.0 (= ${binary:Version})
Description: Countries plugin for AWA (Development)
 This is the Countries plugin for Ada Web Application.

Package: libawa-flotcharts1.1.0
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa1.1.0 (= ${binary:Version})
Description: Flotcharts plugin for AWA (Runtime)
 This is the Flotcharts plugin for Ada Web Application.

Package: libawa-images1.1.0
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa-storages1.1.0 (= ${binary:Version})
Description: Images plugin for AWA (Runtime)
 This is the Images plugin for Ada Web Application.

Package: libawa-images7-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa7-dev,
 libawa-images1.1.0 (= ${binary:Version}),
 libawa-storages7-dev
Description: Countries plugin for AWA (Development)
 This is the Countries plugin for Ada Web Application.

Package: libawa-jobs1.1.0
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa1.1.0 (= ${binary:Version})
Description: Jobs plugin for AWA (Runtime)
 This is the Jobs plugin for Ada Web Application.

Package: libawa-jobs7-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa7-dev,
 libawa-jobs1.1.0 (= ${binary:Version})
Description: Jobs plugin for AWA (Development)
 This is the Jobs plugin for Ada Web Application.

Package: libawa-mail1.1.0
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa1.1.0 (= ${binary:Version})
Description: Mail plugin for AWA (Runtime)
 This is the Mail plugin for Ada Web Application.

Package: libawa-mail7-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa7-dev,
 libawa-mail1.1.0 (= ${binary:Version})
Description: Mail plugin for AWA (Development)
 This is the Mail plugin for Ada Web Application.

Package: libawa-markedit1.1.0
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa1.1.0 (= ${binary:Version})
Description: Markedit plugin for AWA (Runtime)
 This is the Markedit plugin for Ada Web Application.

Package: libawa-questions1.1.0
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa-tags1.1.0 (= ${binary:Version}),
 libawa-workspaces1.1.0 (= ${binary:Version})
Description: Question plugin for AWA (Runtime)
 This is the Question plugin for Ada Web Application.

Package: libawa-questions7-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa-questions1.1.0 (= ${binary:Version}),
 libawa7-dev,
 libawa-tags7-dev,
 libawa-workspaces7-dev
Description: Question plugin for AWA (Development)
 This is the Question plugin for Ada Web Application.

Package: libawa-settings1.1.0
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa1.1.0 (= ${binary:Version})
Description: User settings plugin for AWA (Runtime)
 This is the user settings plugin for Ada Web Application.

Package: libawa-settings7-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa-settings1.1.0 (= ${binary:Version}),
 libawa7-dev
Description: User settings plugin for AWA (Development)
 This is the user settings plugin for Ada Web Application.

Package: libawa-setup1.1.0
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa1.1.0 (= ${binary:Version})
Description: Ada Web Application Setup (Runtime)
 The AWA.Setup package implements a simple setup application
 that allows to configure the database, the Google and Facebook
 application identifiers and some other configuration parameters.
 It is intended to help in the installation process of any AWA-based
 application.

Package: libawa-setup7-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa-setup1.1.0 (= ${binary:Version}),
 libawa7-dev
Description: Ada Web Application Setup (development)
 The AWA.Setup package implements a simple setup application
 that allows to configure the database, the Google and Facebook
 application identifiers and some other configuration parameters.
 It is intended to help in the installation process of any AWA-based
 application.

Package: libawa-storages1.1.0
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa-workspaces1.1.0 (= ${binary:Version})
Description: Storage plugin for AWA (Runtime)
 This is the Storage plugin for Ada Web Application.

Package: libawa-storages7-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa7-dev,
 libawa-storages1.1.0 (= ${binary:Version}),
 libawa-workspaces7-dev
Description: Storage plugin for AWA (Development)
 This is the Storage plugin for Ada Web Application.

Package: libawa-tags1.1.0
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa1.1.0 (= ${binary:Version})
Description: Tags plugin for AWA (Runtime)
 This is the Tags plugin for Ada Web Application.  The Tags plugin
 allows one to integrate and use easily tags in an application.

Package: libawa-tags7-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa7-dev,
 libawa-tags1.1.0 (= ${binary:Version})
Description: Tags plugin for AWA (Runtime)
 This is the Tags plugin for Ada Web Application.  The Tags plugin allows
 to integrate and use easily tags in an application.

Package: libawa-trumbowyg1.1.0
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa1.1.0 (= ${binary:Version})
Description: Trumbowyg Javascript Editor plugin for AWA (Runtime)
 This is the Trumbowyg plugin for Ada Web Application.

Package: libawa-votes1.1.0
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa1.1.0 (= ${binary:Version})
Description: Votes plugin for AWA (Runtime)
 This is the Votes plugin for Ada Web Application.  The Votes plugin allows
 to easily add voting features to an application.

Package: libawa-votes7-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa7-dev,
 libawa-votes1.1.0 (= ${binary:Version})
Description: Votes plugin for AWA (Development)
 This is the Votes plugin for Ada Web Application.  The Votes plugin allows
 to easily add voting features to an application.

Package: libawa-wikis1.1.0
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa1.1.0 (= ${binary:Version}),
 libawa-workspaces1.1.0 (= ${binary:Version}),
 libawa-jobs1.1.0 (= ${binary:Version}),
 libawa-counters1.1.0 (= ${binary:Version}),
 libawa-tags1.1.0 (= ${binary:Version}),
 libawa-images1.1.0 (= ${binary:Version}),
 libawa-markedit1.1.0 (= ${binary:Version}),
 libawa-flotcharts1.1.0 (= ${binary:Version}),
 libawa-storages1.1.0 (= ${binary:Version})
Description: Wiki plugin for AWA (Runtime)
 This is the Wiki plugin for Ada Web Application.

Package: libawa-wikis7-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends},
 libawa7-dev,
 libawa-workspaces7-dev,
 libawa-jobs7-dev,
 libawa-tags7-dev,
 libawa-counters7-dev,
 libawa-images7-dev,
 libawa-storages7-dev,
 libawa-wikis1.1.0 (= ${binary:Version})
Description: Wiki plugin for AWA (Development)
 This is the Wiki plugin for Ada Web Application.

Package: libawa-workspaces1.1.0
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}, libawa1.1.0 (= ${binary:Version})
Description: Workspace plugin for AWA (Runtime)
 This is the Workspace plugin for Ada Web Application.

Package: libawa-workspaces7-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, libawa-workspaces1.1.0 (= ${binary:Version}), ${misc:Depends},
 libawa7-dev
Description: Workspace plugin for AWA (Development)
 This is the Workspace plugin for Ada Web Application.

